{% block stylesheets %}
    <link href="{{ asset('css/register.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}

    <div id="header_menu">
        <b style="display: inline">Change Password</b>
        <a href="{{ path('dashboard') }}">Home</a>
    </div>

    <div id="user">
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
