{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('css/register.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
    {{ parent() }}
    <div id="header_menu">
        <b style="display: inline">Change Password</b>
    </div>

    <div id="user">
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
