{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('css/loginHistory.css') }}" rel="stylesheet"/>
{% endblock %}


{% block body %}
    {{ parent() }}
    <div id="header_menu">
        <a href="{{ path('register') }}">Update Profile</a>
        | <a href="{{ path('changePassword') }}">Change Password</a>
    </div>


    <table id="loginHistory">
        <tr >
            <th>Login</th>
            <th>Logout</th>
        </tr>
        {% for history in loginHistory %}
            <tr>
                <td>{{ history.loginDate }}</td>
                <td>{{ history.logoutDate }}</td>
            </tr>

        {% endfor %}
    </table>

{% endblock %}